<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/project.css">
    <link rel="stylesheet" href="/stylesheets/AboutUs.css">

</head>

<body>
    <%- include('partials/header') %>
        <%- include('partials/modals/createAccountModal') %>
            <%- include('partials/modals/loginAsModal') %>
                <%- include('partials/modals/customerLoginModal') %>
                    <%- include('partials/modals/customerSignUpModal') %>
                        <%- include('partials/modals/customerTerms&ConditionModal') %>
                            <%- include('partials/modals/serviceLoginModal') %>
                                <%- include('partials/modals/serviceSignUpModal') %>
                                    <%- include('partials/modals/serviceTerms&ConditionModal') %>
                                        <div class="services-section container-fluid">
                                            <div class="overlay container-fluid">
                                                <h1
                                                    class="display-4 display-md-3 display-lg-1 display-sm-1 about mt-4 ">
                                                    About
                                                    <span>Us</span>
                                                </h1>
                                                <p class="pb-5">We are a repair home problem service based in
                                                    Kohat,
                                                    Pakistan. Our team is dedicated to helping you solve any
                                                    home <br> issues quickly and professionally. We cover a wide
                                                    range of home repairs to ensure your house remains in top
                                                    condition. <br> Trust us to handle your plumbing repairs,
                                                    electrical work, construction needs, solar plan
                                                    installations, labor <br> requirements, and home shifting
                                                    with
                                                    exertise and care..</p>
                                                <div class="container-fluid sectionblue">
                                                    <h1 class="h1  ourmission pt-5 pb-3">Our Mission</h1>
                                                    <p>Our Mission at EZY FIX is to provide reliable and
                                                        efficient home repair services in Pakistan. We aim to
                                                        solve your home <br> issues with expertise, ensuring
                                                        your
                                                        house remains in top condition. Our dedicated team
                                                        offers a wide range of <br> services, from plumbing and
                                                        electrical work to construction and solar plan
                                                        installation. Trust us to handle your home <br> needs
                                                        with
                                                        professionalism and care.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="container-fluid ">
                                            <p class="para pt-5 mt-5 pb-5">EZY FIX is your go-to solution for
                                                all home repair needs in
                                                Pakistan. Our dedicated team handles plumbing, <br>electrical
                                                work,
                                                cons zuction, and more. We ensure your home stays in top
                                                condition with quick and professional <br>service.Trust EZY FIX
                                                to
                                                solve your home issues with expertise and care. We offer a wide
                                                range of services<br> to keep your house running smoothly. Let
                                                us
                                                take the hassle out of home repairs for you.</p>
                                        </div>
                                        <div class="container-fluid mr-3 mr-md-5 mr-lg-10 ourvalues">
                                            <h1 class="Our pr-5 pr-md-10 pr-lg-15">Our Values</span></h1>
                                        </div>
                                        <div class="container-fluid ourvalues">
                                            <div class="row mb-5">
                                                <div class="col-12 col-sm-6 col-md-4 mb-4">
                                                    <div class="card">
                                                        <img src="./IMAGES/cardpic1 (1).png" class="card-img-top"
                                                            alt="Card image cap">
                                                        <div class="card-body">
                                                            <h5 class="card-title">Professionalism</h5>
                                                            <p class="card-text">We handle Each task with
                                                                expertise and care, ensuring high-quality
                                                                service every time.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6 col-md-4 mb-4">
                                                    <div class="card">
                                                        <img src="./IMAGES/cardpic1 (2).png" class="card-img-top"
                                                            alt="Card image cap">
                                                        <div class="card-body">
                                                            <h5 class="card-title">Realiability</h5>
                                                            <p class="card-text">you can count on us to be there
                                                                when you need us. providing timely and effective
                                                                solutions.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6 col-md-4 mb-4">
                                                    <div class="card">
                                                        <img src="./IMAGES/cardpic1 (3).png" class="card-img-top"
                                                            alt="Card image cap">
                                                        <div class="card-body">
                                                            <h5 class="card-title">Customer Satisfaction</h5>
                                                            <p class="card-text">Your satisfaction is our
                                                                priority. we listen to your needs and work to
                                                                meet them.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6 col-md-4 mb-4">
                                                    <div class="card">
                                                        <img src="./IMAGES/cardpic1 (4).png" class="card-img-top"
                                                            alt="Card image cap">
                                                        <div class="card-body">
                                                            <h5 class="card-title">Efficiency</h5>
                                                            <p class="card-text">We complete task quickly and
                                                                efficiently minimzing disruption to your daily
                                                                life</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6 col-md-4 mb-4">
                                                    <div class="card">
                                                        <img src="./IMAGES/cardpic1 (5).png" class="card-img-top"
                                                            alt="Card image cap">
                                                        <div class="card-body">
                                                            <h5 class="card-title">Quality</h5>
                                                            <p class="card-text">We use the bast materials and
                                                                methods to ensure lasting results in every
                                                                repair..</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6 col-md-4 mb-4">
                                                    <div class="card">
                                                        <img src="./IMAGES/cardpic1 (6).png" class="card-img-top"
                                                            alt="Card image cap">
                                                        <div class="card-body">
                                                            <h5 class="card-title">Integrity</h5>
                                                            <p class="card-text">We believe in honest
                                                                communication and transparent dealings with all
                                                                our clients</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container-fluid bluesection mt-5 d-flex justify-content-center">
                                            <button type="button"
                                                class="btn contactme btn-custom btn-centered btn-primary ">Contact
                                                Us</button>

                                        </div>
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-lg-6"><img src="./IMAGES/logo.png" alt
                                                        class="img-fluid footerimg">
                                                    <p class="parag ">Get professional repair services in
                                                        Kohat, Pakistan.
                                                        Experts are ready to solve your home issues</p>
                                                    <div class="container mt-4">
                                                        <div class="row">
                                                            <!-- <div class="col-lg-12 ml-4">
                                <div class="social-link">
                                    <a
                                        href="https://www.facebook.com/yourprofile"
                                        target="_blank">
                                        <img src="./IMAGES/social (1).jpg"
                                            class="social-icon" alt="Facebook">
                                    </a>
                                    <a
                                        href="https://www.twitter.com/yourprofile"
                                        target="_blank">
                                        <img src="./IMAGES/social (4).jpg"
                                            class="social-icon" alt="Twitter">
                                    </a>
                                    <a
                                        href="https://www.instagram.com/yourprofile"
                                        target="_blank">
                                        <img src="./IMAGES/social (2).jpg"
                                            class="social-icon" alt="Instagram">
                                    </a>
                                    <a
                                        href="https://www.linkedin.com/in/yourprofile"
                                        target="_blank">
                                        <img src="./IMAGES/social (3).jpg"
                                            class="social-icon img-fluid" alt="LinkedIn">
                                    </a>
                                </div>

                            </div> -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 companydiv">
                                                    <div class="container-fluid mt-4">
                                                        <div class="row">
                                                            <div class="mr-4 pr-4 col-lg-12">
                                                                <h3 class="company h3">Company</h3>

                                                                <button class="stretched-button" onclick="window.location.href='/About';">
                                                                    <span>About Us</span>
                                                                    <span class="arrow">&gt;</span>
                                                                </button>
                                                            </div>
                                                            <div class="col-lg-12">

                                                                <button class="stretched-button active"
                                                                    onclick="window.location.href='/FAQ';">
                                                                    <span>FAQs</span>
                                                                    <span class="arrow">&gt;</span>
                                                                </button>
                                                            </div>
                                                            <div class="col-lg-12">

                                                                <button class="stretched-button" onclick="window.location.href='/Contact';">
                                                                    <span>Contact Us</span>
                                                                    <span class="arrow">&gt;</span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" image-container container-fluid">
                                            <img src="./IMAGES/footer1.png" alt="Image 1">
                                            <img src="./IMAGES/footer2.png" alt="Image 2">
                                            <img src="./IMAGES/footer3.png" alt="Image 3">
                                        </div>
                                        <script src="/js/script.js"></script>
                                        <!-- Bootstrap 5 Bundle (Includes Popper.js) -->
                                        <script
                                            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>